In [9]:
import pandas as pd
data=pd.read_csv("sample_one_hot_encoding.csv")
data['Color']

0      Red
1     Blue
2    Green
3      Red
Name: Color, dtype: object

In [10]:
data.head(5)

   ID  Color    Size Price Category
0   1    Red   Small            Low
1   2   Blue   Large           High
2   3  Green  Medium         Medium
3   4    Red   Small            Low

In [11]:
result=data['Color']
from sklearn.preprocessing import LabelEncoder
obj=LabelEncoder()
result_encoded=obj.fit_transform(result)

In [12]:
result_encoded #Here we can't measure the relationship between encoded things then go to one hot encoding

array([2, 0, 1, 2])

In [13]:
from sklearn.preprocessing import LabelBinarizer
obj_binarizer=LabelBinarizer()
result_encoded_with_binarizer=obj_binarizer.fit_transform(result)
result_encoded_with_binarizer

array([[0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [16]:
obj_binarizer.classes_ #mulinm ewilla thinne blue cloumn eka iitpasse green red piliwelt ewith thiyenva

array(['Blue', 'Green', 'Red'], dtype='<U5')

In [14]:
data[obj_binarizer.classes_]=result_encoded_with_binarizer
data.head(5)

   ID  Color    Size Price Category  Blue  Green  Red
0   1    Red   Small            Low     0      0    1
1   2   Blue   Large           High     1      0    0
2   3  Green  Medium         Medium     0      1    0
3   4    Red   Small            Low     0      0    1